body{
    margin: 0;
    background-color:#e0e7ea;
}
.navbar {
  overflow: hidden;
  background-color: #c1e0f1;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #9b8787;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #99d0ee;
  color: black;
}

a{
    text-align: center;
    /* margin-left: 15px; */
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
}
.grid img{
    border: 1px solid black;
    border-radius: 10px;
}
.imageassets {
    border-radius: 20px;
    /* background-color: #ffffff; */
    padding: 25px;
    margin: 5px;
    width:230px;
    font-family: fantasy;
}
.grid button{
  border: 1px solid black;
  padding: 8px 20px;
  border-radius: 10px;
}

.grid button:hover {
  background: #99d0ee;
  color: black;
}

.detailContainer{
  width: 500px;
  padding: 120px;
  margin-top: 150px;
  margin-left: 260px;
  align-content: center;
  border: 1px solid black;
}